.footer {
	display: flex;
	flex-direction: column;
	background-color: $footer-bg;
	&__information {
		display: flex;
		flex-direction: column;
	}
	.logo {
		img {
			width: 15rem;
			height: 6rem;
		}
	}
}
