.footer {
	display: flex;
	flex-direction: column;
	background-color: $footer-bg;
	font-size: 1.4rem;

	&__information {
		display: flex;
		flex-direction: column;
	}
	&__information__item {
		display: flex;
		grid-gap: 3rem;
	}
	.logo {
		width: 20rem;
		height: 7rem;
	}
	img {
		width: 1rem;
		height: 1rem;
	}
	a {
		color: $white;
	}
}
