.informations {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $main-bg;
	&__image {
		width: 80%;
		img {
			width: 100%;
		}
	}
	&__content {
	}
}
