.informations {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $main-bg;
	padding: 3rem;
	&__image {
		img {
			width: 100%;
		}
	}
	&__content {
	}
	.about h3,
	.about p {
		text-align: center;
	}
	h3 {
		font-size: 2.2rem;
	}
	p {
		font-size: 1.4rem;
		line-height: 2.3rem;
	}
	.link {
		display: flex;
		color: $cayn;
	}
}
