.intro {
	background-color: $intro-bg;
	font-family: $heading-font;

	&__navigation {
		padding: 3rem 2rem;
		display: flex;
		justify-content: space-between;
	}
	img {
		width: 10rem;
		height: 2.95rem;
	}
	.bg-image {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 50rem;
		padding: 3rem;
		width: 100%;
		height: 100%;
	}
	&__navigation__links {
		display: flex;
		align-items: center;
	}
	li:not(:last-child) {
		margin-right: 2.2rem;
	}
	a {
		color: $white;

		font-weight: $heading-light;
		font-size: 1.4rem;
	}
	&__description {
		max-width: 50rem;
		padding: 3rem;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		grid-gap: 2rem;
	}
	h1 {
		font-size: 2.5rem;
		text-align: center;
		line-height: 3.5rem;
	}
	p {
		font-size: 1.4rem;
		line-height: 2.3rem;
		text-align: center;
	}
	.blue-rounded {
		max-width: 30rem;
		font-size: 1.6rem;
		font-weight: $heading-bold;
		border: none;
		outline: none;
		color: $white;
		background-image: linear-gradient(to right, $cayn, $blue);
		padding: 2rem 9rem;
		border-radius: 3rem;
	}
}
