.intro {
	background-color: $intro-bg;
	font-family: $heading-font;
	&__navigation {
		padding: 3rem 2rem;
		display: flex;
		justify-content: space-between;
	}
	img {
		width: 10rem;
		height: 2.95rem;
	}
	&__navigation__links {
		display: flex;
		align-items: center;
	}
	li:not(:last-child) {
		margin-right: 2.5rem;
	}
	a {
		color: $white;
		font-weight: $heading-light;
		font-size: 1.4rem;
	}
	&__description {
	}
}
