.testimonials {
	background-color: $main-bg;
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-gap: 5rem;
	padding: 10rem 4rem;

	&__item {
		max-width: 60rem;
		background-color: $testimonials-bg;
		border-radius: 1rem;
		box-shadow: 0px 0px 0px 10px $intro-bg;
		padding: 3rem;
		display: flex;
		flex-direction: column;
		grid-gap: 3rem;
		.quotes {
			position: absolute;
		}
	}
	.person {
		display: flex;
		align-items: center;
		grid-gap: 1rem;
	}
	img {
		border-radius: 50%;
		width: 4rem;
		height: 4rem;
	}
	p {
		font-size: 1.4rem;
		line-height: 2.3rem;
	}
	h4 {
		font-size: 1.6rem;
	}
	h5 {
		font-size: 1.2rem;
		font-weight: $heading-light;
	}
}
