.testimonials {
	background-color: $main-bg;

	&__item {
		background-color: $testimonials-bg;
		padding: 3rem;
	}
	.person {
		display: flex;
	}
	img {
		width: 2rem;
	}
	p {
		font-size: 1.4rem;
	}
}
